on: [push, pull_request]
name: GoTest
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.14.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test
        run: go test -coverprofile=coverage.${{ matrix.platform }}-${{ matrix.go-version }}.txt -covermode=atomic ./...

    - uses: codecov/codecov-action@v1
      with:
        file: coverage.${{ matrix.platform }}-${{ matrix.go-version }}.txt
        name: codecov-${{ matrix.platform }}-${{ matrix.go-version }}
        fail_ci_if_error: true